@charset "utf-8";
/* CSS Document */

@import "@sweetalert2/theme-minimal/minimal.scss";

@import "./assets/styles/variables";
@import "./assets/fonts/fonts";

/* -----------------------------------------------
:: buttons
-------------------------------------------------- */
body {
  .btn,
  .swal2-styled {
    width: 100%;
    border: 2px solid $grey;
    color: $grey;
    background-color: transparent;
    opacity: 0.65;
    border-radius: 0;
    box-shadow: none !important;
    font-family: "SST W20 Medium", verdana, sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 10px;
    min-width: 120px;
    padding: 10px 10px;
    text-align: center;
    transition: all 0.25s ease;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

    &:not(:disabled) {
      opacity: 1;
      cursor: pointer;
    }
  }

  .btn-yellow,
  .swal2-styled {
    &:not(:disabled) {
      background-color: $yellow;
      border: 2px solid $dark-yellow;
      color: $black;
    }
  }

  // shine effect
  .btn-yellow {
    position: relative;
    overflow: hidden;
  }

  .btn-yellow {
    &:not(:disabled) {
      &:after {
        content: "";
        position: absolute;
        top: -100%;
        left: -200%;
        width: 200%;
        height: 200%;
        background: rgba(255, 255, 255, 0.5);
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0.13) 0%,
          rgba(255, 255, 255, 0.13) 77%,
          rgba(255, 255, 255, 0.5) 92%,
          rgba(255, 255, 255, 0) 100%
        );
        opacity: 0;
        transform: rotate(25deg);
      }
    }
    &.shine {
      &:not(:disabled) {
        &:after {
          top: -100%;
          left: 100%;
          opacity: 1;
          transition-property: left, top, opacity;
          transition-duration: 2s, 2s, 0.5s;
          transition-timing-function: ease;
        }
      }
    }
  }
}

/* -----------------------------------------------
:: .App
-------------------------------------------------- */
.App {
  padding: 20px;
}

.App > .row > .columns {
  padding-left: 0;
  padding-right: 0;
}

.App h1 {
  margin: 0;
  text-align: center;
  span {
    display: block;
  }
}

.App hr {
  border-color: $yellow;
}

.App a {
  color: $yellow;
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

/* -----------------------------------------------
:: header
-------------------------------------------------- */
header .h5 {
  text-align: center;
}

header #share-buttons {
  .show-buttons {
    text-align: center;
    button {
      border-radius: 12px;
      margin: 0 8px;
      padding: 0;
      height: 40px;
      width: 40px;
      border: none;
      cursor: pointer;
      figure {
        height: 40px;
        width: 40px;
      }
    }
    #mobile-share,
    #clipboard-copy {
      background-color: $dark-yellow;
      figure {
        padding: 0 8px;
      }
    }
    #facebook-share {
      background-color: #4267b2;
    }
    #twitter-share {
      background-color: #1da1f2;
    }
    #whatsapp-share {
      background-color: #25d366;
    }
  }
}

/* -----------------------------------------------
:: #article-title
-------------------------------------------------- */
#article-title h2 {
  padding: 0.25em 0.5em;
  text-align: center;
  border: 2px solid $yellow;
}

/* -----------------------------------------------
:: #user-stats
-------------------------------------------------- */
#user-stats {
  height: 96px;
  span {
    display: block;
    text-align: center;
  }
}

/* -----------------------------------------------
:: #user-input
-------------------------------------------------- */
#user-input button {
  margin-top: 10px;
  margin-right: 0;
  font-size: 18px;
  font-size: 1.125rem;
  span {
    display: block;
    pointer-events: none;
  }
}

/* -----------------------------------------------
:: #wiki-output
-------------------------------------------------- */
#wiki-output figure {
  margin: 1em 0;
  text-align: center;
  img {
    background-color: $white;
    border: 2px solid $white;
  }
}

/* -----------------------------------------------
:: #credits
-------------------------------------------------- */
#credits {
  text-align: center;
  span {
    display: block;
  }
}

/* -----------------------------------------------
:: .loader-frame
-------------------------------------------------- */
.loader-frame {
  height: 100%;
  vertical-align: middle;
}

.loader-frame .loader-center-horizontal {
  display: table;
  margin: 0 auto;
  height: 100%;
}

.loader-frame .loader-center-vertical {
  display: table-cell;
  vertical-align: middle;
}

.loader-frame .loader {
  width: 50px;
  height: 50px;
  border: 8px solid $grey;
  border-top: 8px solid $blue;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* -----------------------------------------------
:: Media specific
-------------------------------------------------- */
@media only screen and (min-width: 30em) {
  /*
	min-width:480px - iPhone landscape - medium-grid;
	*/
  h1 span {
    &:before {
      content: "\1F44D\00a0";
    }
    &:after {
      content: "\00a0\1F44E";
    }
  }

  #user-input > .columns:nth-of-type(2) {
    float: right;
  }
}

@media only screen and (min-width: 48em) {
  /*
	min-width:768px - iPad portrait - large-grid;
	*/
  #user-stats {
    height: 50px;
    span {
      line-height: 50px;
    }
  }
  #wiki-output article {
    margin: 1em 0;
  }
}

@media screen and (min-width: 64em) {
  /*
	min-width:1024px - iPad landscape - xlarge-grid;
	*/
}

@media screen and (min-width: 80em) {
  /*
	min-width:1280px - Nexus7 landscape - xlarge-grid;
	*/
  #user-input button {
    span {
      display: inline;
      &:first-of-type {
        &:after {
          content: " ";
        }
      }
    }
  }
}
